#header {
    background-color: #30453E;
    margin: 0;
    padding-left: 16px;
    padding-top: 30px;
    width: 100%;
    height: 5in;
    padding-right:  16px;
    display: flex;
    flex-flow: column wrap;
  
}

head {
    margin:0;
}

.logo {
    order:1;
    margin-top: 1.5in;
    margin-right: auto;
    display: block; 
    width:30%;
    height:max-content;
    margin-left: 4vh;
    

}

/* #VoteChat {
    position: sticky;
    top: 0in; 
    height: 1in;
    width: max-content;
} */

.container {
    display:flex;
    flex-wrap: nowrap;
    margin-right: 1in;
   

}

#bot {
    
    margin-right: auto;
    margin-left:auto ;
}
#poster {
    width: 10%;
    height: max-content;
    display:block;
    flex:2;
    flex-shrink: 2;
    
    

}

h2 {
    font-family: "IvarHeadline-Regular";
    text-align: left;
    margin-left: 1in;
    font-size: 2em;
}
p { 
    
    font-family: "Staff-Regular";
    text-align: left;
    margin-left: 1in;
    font-size: 1em;
    line-height: 5vh;
    


}

.body{
    font-family: "Staff-Regular";
    text-align: left;
    margin-right: 1in;

    font-size: 1em;
    flex:1;
    line-height: 5vh;
    flex-grow: 2;
}


.item1 {
    order:2;
    font-family: "Staff-Regular", "Times", serif ;
    color: RGB(246,242,225);
    font-size: 4em;
    text-align: left;
    line-height: 6vh;
    margin-top: 1in;
    margin-left: 4vh;
}

.item2{
    order:3;
    font-family: "Staff-Regular", "Times", serif;
    color: RGB(246,242,225);
    text-align: left;
    line-height: 4vh;
    margin-left: 4vh;
}
body {
    margin: 0;
    background-color: white;

}


.start {
    background-color: cornflowerblue;
    width: 100%;
    height: 2in;
    padding: 25px 25px 0px 25px;
    margin: 1in 0 0 0;
   

}
#sub {
    font-family: "Staff-Regular";
    color: white;
    font-size: 1.5em;
    text-align: center;
    top: 2;
    

}

h3 {
    font-family: "Staff-Regular";
    color: white;
    font-size: 3em;
    text-align: center;
    top: 4in;
    line-height: 2vh
}
   

#botsify-embed-div {
    margin: 0 0 0 0;
    width: 100%;
    padding: 2% 0% 2% 35%;
   background-color: cornflowerblue;
}

